[Desktop Entry]
Type=Application
Name=Linux Defender
GenericName=Antivirus
Comment=Lightweight interface for the ClamAV antivirus
Comment[fr]=Interface légère pour l'antivirus ClamAV
Exec=linux-defender
Icon=linux-defender
Terminal=false
Categories=Qt;System;Security;
Keywords=antivirus;clamav;virus;malware;scan;
Actions=QuickScan;

[Desktop Action QuickScan]
Name=Quick scan
Name[fr]=Analyse rapide
Icon=system-search
Exec=linux-defender --quick-scan
